name: App build
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, unlabeled]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: caffeinelabs/setup-mops@v1

      - name: Install icp-cli
        run: curl --proto '=https' --tlsv1.2 -LsSf https://github.com/dfinity/icp-cli/releases/download/v0.1.0-beta.6/icp-cli-installer.sh | sh

      - name: Confirm icp-cli version
        run: icp --version

      - name: make sure moc is installed
        run: mops toolchain bin moc || mops toolchain use moc latest

      - name: run tests
        run: mops test

      - name: Run minimal example with icp-cli
        working-directory: ./examples/minimal
        run: |
          icp network start -d
          icp deploy
          sh run.sh
          icp network stop

      - name: Run main example with icp-cli
        working-directory: ./examples/main
        run: |
          icp network start -d
          icp deploy
          sh run.sh
          icp network stop

      - name: Run promtracker example with icp-cli
        working-directory: ./examples/promtracker
        run: |
          icp network start -d
          icp deploy
          sh run.sh
          icp network stop
