name: App build
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, unlabeled]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: caffeinelabs/setup-mops@v1
      - uses: dfinity/setup-dfx@main

      - name: Confirm dfx installation
        run: dfx --version

      - name: make sure moc is installed
        run: mops toolchain bin moc || mops toolchain use moc latest

      - name: run tests
        run: mops test

      - name: Build examples
        working-directory: ./examples
        run: for dir in *; do (if [ -d "$dir" ]; then (cd "$dir" && dfx build --check) fi); done
